/* General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/*Transitions*/

a,
.btn {
  transition: all 300ms ease;
}

/*Desktop Nav*/
nav,
.navbar_links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.navbar_links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  text-decoration-color: hsl(0, 0%, 100%);
}

a:hover {
  color: hsl(0, 0%, 50%);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: hsl(0, 0%, 35%);
  text-decoration-thickness: 0.25rem;
  font-size: 1.4rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Nav */

#hamburger_nav {
  display: none;
}

.hamburger_menu {
  position: relative;
  display: inline-block;
}
